<h1>{{ title }}</h1>

<section class="task-form-container">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <input formControlName="title" placeholder="What needs to be done?" />
        <textarea formControlName="description" placeholder="Add some details..."></textarea>
        <button type="submit" [disabled]="taskForm.invalid">Create Task</button>
    </form>
</section>

<div class="task-grid">
    @for (task of tasks(); track task.id) {
    <article class="task-item">
        <h3>{{ task.title }}</h3>
        <p>{{ task.description }}</p>
        <div class="task-footer">
            @if (task.id) {
            <button class="btn delete-btn" (click)="onDeleteTask(task.id)">Delete</button>
            }
            @if (task.status === TaskStatus.BACKLOG) {
            <button class="btn status-btn" (click)="changeStatus(task.id, TaskStatus.IN_PROGRESS)">Start work</button>
            } @else if ( task.status === TaskStatus.IN_PROGRESS) {
            <button class="btn status-btn done" (click)="changeStatus(task.id, TaskStatus.DONE)">Mark as Done</button>
            }
            <span class="status">{{ task.status }}</span>
        </div>
    </article>
    } @empty {
    <p class="empty-state">No tasks found. Start by creating one above!</p>
    }
</div>